---
import '../styles/404.css'
import Layout from "../layouts/Layout.astro";

const EXEMPT_JIGGLES = [0, 1, 4, 6, 7]

const JIGGLE_404 = [
  [-50, 100],
  [50, -50],
  [-20, 80],
]

const JIGGLE_SETS = {
  t: [-50, 100],
  o: [0, 0],
  n: [10, -10],
  d: [50, 60],
}

const getRandom = () => Math.floor(Math.random() * 200) - 100

---
<Layout
  title="Uh Oh"
  ogtitle="Uh Oh!"
  description="The page for when pages can't be found"
  flexLayout={true}
  oghue="112">
  <main class="w-main-content flex justify-center items-center grow max-w-full mv-0 mx-auto px-4">
    <div class="grid place-items-center leading-tight">
      <h1 aria-hidden="true" class="font-mono font-bold" style="font-size: var(--step-9);">
        {'404'.split('').map((l, i) => <span data-jiggle style={`--mx:${getRandom()};--my:${getRandom()}`}>{l}</span>)}
      </h1>
      <h1>
        <span class="sr-only">404</span>
      </h1>
      <p class="font-mono font-bold text-center" style="font-size: var(--step-4);">
        <span data-jigglers="true" aria-hidden="true">
          {'not found'.split('').map((l, i) => l !== ' ' && EXEMPT_JIGGLES.indexOf(i) === -1 ?
            <span data-jiggle style={`--mx:${getRandom()};--my:${getRandom()}`}>{l}</span> :
            <span>{l}</span>
          )}
        </span>
        <span data-jiggle-label="true" class="sr-only">Not found</span>
      </p>
    </div>
  </main>
</Layout>
<script>
  import '../scripts/404.js';
</script>