---
import Analytics from '@vercel/analytics/astro'
import { injectSpeedInsights } from '@vercel/speed-insights'
import { clsx } from 'clsx'
import { Font } from 'astro:assets'
import Status from '../components/Status.astro'
import '../styles/global.css'
const title = 'Jhey Tompkins'
const ogImageUrl = 'https://jhey.vercel.app/api/og'
// inject scripts
injectSpeedInsights()
---
<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="description" property="og:description" content="Making your ideas click. Jhey Tompkins is the one who crafts. Design Engineer, Craftsman, Speaker, Educator." />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000" />
    <link rel="manifest" href="/manifest.json" />
    <link
      rel="icon"
      href="/icons/favicon-32x32.png"
      type="image/png"
      sizes="16x16"
    />
    <link rel="shortcut icon" href="/icons/favicon-32x32.png" />
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />
    <link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
    <meta name="generator" content="Astro" />
    <meta property="og:site_name" content={title} />
    <meta property="og:title" content={title} />
    <meta name="author" content="Jhey Tompkins" />
    <meta name="image" content={ogImageUrl} />
    <meta name="image" property="og:image" content={ogImageUrl} />
    <meta name="og:image" content={ogImageUrl} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://jhey.dev/" />
    <meta name="twitter:title" content="Jhey Tompkins" />
    <meta name="twitter:description" content="Design Engineer, Craftsman, Speaker, Educator." />
    <meta name="twitter:image" content={ogImageUrl} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@jh3yy" />
    <Font cssVariable="--font-sans" preload />
    <Font cssVariable="--font-serif" preload />
    <Font cssVariable="--font-mono" preload />
    <Analytics />
  </head>
  <body class="font-sans min-h-screen">
    <nav class="p-2 top-0 bg-bg fixed">
      <a
        class="w-10 h-10 text-text-1 grid place-items-center rounded-md hover:text-[canvasText]"
        href="/"
      >
        <svg
          class="w-[85%]"
          viewBox="0 0 969 955"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle
            cx="161.191"
            cy="320.191"
            r="133.191"
            stroke="currentColor"
            stroke-width="20"></circle>
          <circle
            cx="806.809"
            cy="320.191"
            r="133.191"
            stroke="currentColor"
            stroke-width="20"></circle><circle
            cx="695.019"
            cy="587.733"
            r="31.4016"
            fill="currentColor"></circle><circle
            cx="272.981"
            cy="587.733"
            r="31.4016"
            fill="currentColor"></circle><path
            d="M564.388 712.083C564.388 743.994 526.035 779.911 483.372 779.911C440.709 779.911 402.356 743.994 402.356 712.083C402.356 680.173 440.709 664.353 483.372 664.353C526.035 664.353 564.388 680.173 564.388 712.083Z"
            fill="currentColor"></path><rect
            x="310.42"
            y="448.31"
            width="343.468"
            height="51.4986"
            fill="#FF1E1E"></rect><path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M745.643 288.24C815.368 344.185 854.539 432.623 854.539 511.741H614.938V454.652C614.938 433.113 597.477 415.652 575.938 415.652H388.37C366.831 415.652 349.37 433.113 349.37 454.652V511.741L110.949 511.741C110.949 432.623 150.12 344.185 219.845 288.24C289.57 232.295 384.138 200.865 482.744 200.865C581.35 200.865 675.918 232.295 745.643 288.24Z"
            fill="currentColor"></path></svg
        >
        <span class="sr-only">jhey.dev</span></a
      >
    </nav>
    <!-- main content that's masked off -->
    <main
      class={clsx(
        'w-content mx-auto flex-1 flex flex-col justify-center max-w-max-content',
        '[&_p]:font-serif [&_p]:[--font-size-min:20] [&_p]:[--font-level:1.8] [&_p]:leading-none',
      )}
    >
      <section class="text-center flex flex-col place-items-center gap-y-8">
        <!-- <header class="text-[canvasText]">
          <h1
            class="text-sm text-gray-800 dark:text-gray-200 mb-4 flex items-center font-[200]"
          >
            Jhey Tompkins
          </h1>
        </header> -->
        <div class={clsx(
          "motion-safe:animate-[reveal_0.35s_ease-out_0.5s_both]",
          "[--translate-from-y:1rem]",
        )}>
          <!-- <slot /> -->
        </div>

        <!-- <svg
          class="sig text-current"
          viewBox="0 0 271 209"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Jhey Tompkins</title>
          <path
            d="M40.3725 26.8984C58.6558 41.1564 141.659 43.1867 128.248 5.48254C127.911 4.53766 127.085 2.2403 125.938 2.0095C124.714 1.76297 121.929 6.39448 121.627 6.82375C100.965 36.1863 95.2641 73.5992 74.5923 102.644C63.7045 117.942 14.7891 145.678 5.55986 113.481C-17.5939 32.705 78.7483 76.0672 105.741 67.4678C119.757 63.0021 125.297 50.6825 132.831 39.1622C135.218 35.5126 137.628 24.6153 140.043 28.2467C144.771 35.3581 119.642 69.8761 115.559 78.4692C110.959 88.1482 129.228 46.7461 136.796 54.3333C146.229 63.7897 128.236 82.7359 153.367 61.6804C157.634 58.1059 166.582 46.4029 161.033 46.8455C153.977 47.4085 141.565 67.0198 151.685 70.0327C161.531 72.9635 176.039 38.7196 174.012 48.7901C173.009 53.769 168.343 67.3695 175.978 68.9069C186.537 71.0328 191.574 35.8659 197.537 44.8359C240.356 109.24 81.7126 283.324 50.2184 167.261C25.2159 75.1229 240.563 89.2082 268.88 137.08"
            stroke="currentColor"
            stroke-width="4"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
            pathLength="1"
            style="--path-speed: 0.831875"></path>
          <path
            class="ear"
            d="M187.183 101.246C182.107 82.5407 155.739 77.9455 151.5 99"
            stroke="currentColor"
            stroke-width="4"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
            pathLength="1"
            style="--path-speed: 0.031875; --path-delay: 0.831875"></path>
          <path
            class="ear"
            d="M117.998 100.704C117.998 91.1516 103.912 87.3662 96.5585 89.3717C84.7816 92.5836 80.6315 99.053 80.6315 110.505"
            stroke="currentColor"
            stroke-width="4"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
            pathLength="1"
            style="--path-speed: 0.035625; --path-delay: 0.86375"></path>
          <path
            class="eye"
            d="M170.025 108.347C168.627 105.551 162.781 110.631 165.494 114.577C168.207 118.523 173.936 114.091 171.643 109.965C171.035 108.871 168.547 107.832 167.355 108.428"
            stroke="currentColor"
            stroke-width="4"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
            pathLength="1"
            style="--path-speed: 0.0175; --path-delay: 0.899375"></path>
          <path
            class="eye"
            d="M102.952 112.797C97.2672 112.797 96.7371 120.527 102.224 119.917C108.363 119.235 105.409 110.012 100.363 113.04"
            stroke="currentColor"
            stroke-width="4"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
            pathLength="1"
            style="--path-speed: 0.01625; --path-delay: 0.916875"></path>
          <path
            class="nose"
            d="M144.745 123.82C146.652 122.562 141.479 121.621 140.561 121.402C136.485 120.429 124.736 118.793 124.42 125.721C123.695 141.628 160.767 131.457 140.492 121.735"
            stroke="currentColor"
            stroke-width="4"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
            pathLength="1"
            style="--path-speed: 0.04; --path-delay: 0.933125"></path>
        </svg> -->

        <!-- Weather Status Component -->
        <!-- Steam Status Component -->
        <div class="mt-4">
          <Status server:defer>
            <h1 slot="fallback">Hello</h1>
          </Status>
        </div>
      </section>
    </main>
    <footer class="text-center text-xs p-4 opacity-80">
      &copy;&nbsp;{new Date().getFullYear()}
    </footer>
  </body>
</html>
