---
// export const prerender = false;
const url = new URL(Astro.request.url);
const baseUrl = `${url.protocol}//${url.host}`;
const response = await fetch(`${baseUrl}/api/status`);
const data = await response.json();
// import { gsap } from "gsap";
// import { ScrambleTextPlugin } from "gsap/ScrambleTextPlugin";

// gsap.registerPlugin(ScrambleTextPlugin);
// console.info({ gsap })
---
<section>
  <ul>
    <li data-platform="steam">
      {data.steam.last_game.name}
    </li>
    <li data-platform="spotify">
      {data.spotify.track.name}
    </li>
  </ul>
</section>
<script src="./script.js"></script>