---
import Layout from './Layout.astro'
import TabScripts from './TabScripts.astro'
import { getAllPageData } from '../utils/getPageData.js'
import {getRoutes, ROUTES } from '../constants/routes.js'

import LayoutHeader from '../components/header/header.jsx'
import TabNav from '../components/tab-nav/tab-nav.astro'

const pageData = await getAllPageData()

const {
  // Page meta stuff for open graph, etc.
  title,
  ogtitle,
  description,
  oggradient,
  page: {
    // Banner and character for each page
    banner,
    character,
    // Current route to please tabs
    route,
    // Need pagination blocks for each category of paginated things
    cheeps,
    guestbook,
    content,
  },
} = Astro.props

// Set the enabled tab list item via the "route" prop
const navItems = getRoutes(route)

const testAbout = `
__Howdy!__ 👋

I'm a web developer that thrives on bringing ideas to life with code!

I advocate for creative coding giving you the confidence to build anything imaginable. I enjoy speaking about this and showing people how to level up their skills.

I'm known for my whimsical creations and ability to solve complex problems. This led to me getting branded as somewhat of a polyglot coder. It's incredible to me that you can open a computer and learn about anything at your fingertips!

<img class="mb-4" src="/media/image/phil-yo.jpeg" alt="Jhey presenting at Pixel Pioneers 2022" width="600" height="300" />

I've been fortunate to work with and for names such as Google, Uber, Nike, and Monzo. I'm currently a Developer Relations Engineer at Google where I work on the web platform.

I also create a lot of demos. And I mean, a lot. I've created well over 1500 demos on CodePen, featuring on the "Most Hearted" many times. As for code; I like to dig in with React, architect CSS in or out of JavaScript, animate with GSAP, and nerd out in Node. I've got a track record of delivering eye-catching results ahead of schedule. All whilst possessing a keen eye for design, accessibility, performance, and well-structured code. 

Besides demos, I love to create videos, stream, write articles, and speak at conferences. Check out the "Content" tab for more on that.

Reach out and say "Hey!". I look forward to hearing from you!

__Stay awesome! ʕ •ᴥ•ʔ__

<INSERT SIGNATURE>

Jhey
`

const contentProps = {
  route,
  cheeps: cheeps || pageData.cheeps,
  guestbook: guestbook || pageData.guestbook,
  content: content || pageData.content,
  about: pageData.config.about
  // about: testAbout
}

const INTERACTIVE_TABS = true

/**
 * NOTE:: /posts is gonna map to contentProps.cheeps.
 * Don't forget that naming convention...
 * */

---
<Layout
  title={title}
  ogtitle={ogtitle}
  description={description}
  oggradient={oggradient}
>
  <LayoutHeader character={character || pageData.config.character} banner={banner || pageData.config.banner} />
  <main class="w-main-content max-w-full mv-0 mx-auto flex flex-col justify-center pt-4 gap-8">
    {navItems && <TabNav items={navItems} />}
    {Object.keys(ROUTES).map(ROUTE => {
      const routeSection = ROUTES[ROUTE]
      if (!routeSection.render || (INTERACTIVE_TABS === false && !route.slice(1).startsWith(ROUTE))) return null
      const Body = routeSection.renderer
      return (
        <section data-tab-panel="true" id={routeSection.href} class={route.startsWith(routeSection.href) ? 'block' : 'hidden' }>
          {Body && <Body {...contentProps} />}
        </section>
      )
    })}
  </main>
  {contentProps.guestbook.thanks && (
    <div role="status" aria-live="polite" class="banner-message">
      Thank you for your submission!
    </div>
  )}
</Layout>