---
import Layout from './Layout.astro'
import TabScripts from './TabScripts.astro'
import { getAllPageData } from '../utils/getPageData.js'
import {getRoutes, ROUTES } from '../constants/routes.js'

import LayoutHeader from '../components/header/header.jsx'
import TabNav from '../components/tab-nav/tab-nav.astro'

const pageData = await getAllPageData()

const {
  // Page meta stuff for open graph, etc.
  title,
  ogtitle,
  description,
  oggradient,
  page: {
    // Banner and character for each page
    banner,
    character,
    // Current route to please tabs
    route,
    // Need pagination blocks for each category of paginated things
    cheeps,
    guestbook,
    content,
  },
} = Astro.props

// Set the enabled tab list item via the "route" prop
const navItems = getRoutes(route)

const contentProps = {
  route,
  cheeps: cheeps || pageData.cheeps,
  guestbook: guestbook || pageData.guestbook,
  content: content || pageData.content,
  about: pageData.config.about
}

const INTERACTIVE_TABS = true

/**
 * NOTE:: /posts is gonna map to contentProps.cheeps.
 * Don't forget that naming convention...
 * */

---
<Layout
  title={title}
  ogtitle={ogtitle}
  description={description}
  oggradient={oggradient}
>
  <LayoutHeader character={character || pageData.config.character} banner={banner || pageData.config.banner} />
  <main class="w-main-content max-w-full mv-0 mx-auto flex flex-col justify-center pt-4 gap-8">
    {navItems && <TabNav items={navItems} />}
    {Object.keys(ROUTES).map(ROUTE => {
      const routeSection = ROUTES[ROUTE]
      if (!routeSection.render || (!INTERACTIVE_TABS && !route.slice(1).startsWith(ROUTE))) return null
      const Body = routeSection.renderer
      return (
        <section data-tab-panel="true" id={routeSection.href} class={route.startsWith(routeSection.href) ? 'block' : 'hidden' }>
          {Body && <Body {...contentProps} />}
        </section>
      )
    })}
  </main>
  {contentProps.guestbook.thanks && (
    <div role="status" aria-live="polite" class="banner-message">
      Thank you for your submission!
    </div>
  )}
</Layout>