---
import Nav from '../components/nav/nav.jsx'
import Footer from '../components/footer/footer.jsx'

import '../styles/main.css';

const { ogtitle, oggradient, oghue, flexLayout } = Astro.props;

let extras = ``
if (oggradient) extras += `&gradient=${oggradient}`
if (oghue) extras += `&hue=${oghue}`


// Import here for siteConfig and then let outside props override...

let ogImageUrl = `https://jhey.netlify.app/og?title=${encodeURIComponent(ogtitle)}${extras}`

const title = `${Astro.props.title || "Howdy! I'm Jhey Tompkins"} – jhey.dev`
const description = Astro.props.description || "A developer making awesome things for awesome people"
const openGraphTitle = ogtitle || Astro.props.title || 'A post from Jhey'
---
<!DOCTYPE html>
<html lang="en" data-theme="system">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="description" property="og:description" content={description}/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"/>
    <meta name="theme-color" content="#CC0088" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="icon" href="/icons/favicon-32x32.png" type="image/png" sizes="16x16"/>
    <link rel="shortcut icon" href="/icons/favicon-32x32.png" />
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />
    <link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:site_name" content={openGraphTitle} />
    <meta property="og:title" content={openGraphTitle} />
    <meta name="author" content="Jhey Tompkins" />
    <meta name="image" content={ogImageUrl}/>
    <meta name="image" property="og:image" content={ogImageUrl} />
    <meta name="og:image" content={ogImageUrl} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://jhey.dev/" />
    <meta name="twitter:title" content={openGraphTitle} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={ogImageUrl} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@jh3yy" />
  </head>
  <body>
    {flexLayout === true && (
      <div class="flex flex-col min-h-screen">
        <Nav />
        <slot />
        <Footer />
      </div>
    )}
    {!flexLayout && (
      <Fragment>
        <Nav />
        <slot />
        <Footer />
      </Fragment>
    )}
  </body>
</html>
<script>
  import '../scripts/theme-toggle.js'
</script>